# App Configuration
PORT=3000
NODE_ENV=development

# --- AWS COGNITO CONFIGURATION ---
# Replace with your Cognito Region (e.g., us-east-1)
VITE_COGNITO_REGION=
# Replace with your Cognito User Pool ID
VITE_COGNITO_USER_POOL_ID=
# Replace with your Cognito Client ID
VITE_COGNITO_CLIENT_ID=
